* {
    font-family: arial;
}

body {
    width: 200px;
    background: #fff;
}

h1 {
    font-size: 16px;
    color: #00ABCE;
}

h2 {
    font-size: 12px;
    color: #666;
}

p {
    font-size: 12px;
    color: #666;
}

a {
    white-space: nowrap;
    color: #666;
    outline: none;
    text-decoration: none;
}
a:hover {
    color: #00ABCE;
}

/** TOOLS **/

#tools {
    position: absolute;
    top: 8px;
    right: 8px;
    text-align: right;
}

#tools a {
    padding: 3px;
    display: inline-block;
    border: 1px solid #BDBDBD;
    border-radius: 3px;
    margin-left: 3px;
}

#tools a:hover {
    border: 1px solid black;
}

/** DEBUG **/

#debug {
}

#debug ul {
    text-align: center;
    border-top: 1px solid #BDBDBD;
    margin: 5px 0;
    padding: 5px 0;
    font-size: 14px;
}

#debug ul * {
    display: inline-block;
}

#debug li {
    margin: 0;
    font-size: 14px;
}

#debug li:not(:first-child) {
    border-left: 1px solid #BDBDBD;
}

#debug a {
    text-transform: none;
    padding: 0 0.25em;
    margin: 0 0.25em;
}

/** PROJECTS **/
select#projects {
    width: 100%;
    padding: 5px;
    appearance: none;
    border: 1px solid #BDBDBD;
    border-radius: 5px;
    background-image: url("data:image/svg+xml;utf8,<svg fill='%23BDBDBD' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
    background-repeat: no-repeat;
    background-position: 100% 0;
    padding-right: 2rem;
}

/** SITES **/

ul#sites {
    margin-left: 0;
    padding-left: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 7px;
}

#sites li {
    margin: 0;
    padding: 0;
    font-size: 14px;
    display: none;

    a {
        color: inherit;
    }
}
#sites li.show {
    display: block;
}

#sites li a {
    color: #666;
    display: flex;
    align-items: center;
    gap: 3px;
}
#sites li a:hover {
    color: #000;
}
#sites li a:before {
    content: 'chevron_right';
    display: inline-block;
    font-family: 'Material Symbols Outlined';
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -webkit-font-feature-settings: 'liga';
    color: inherit;
}
#sites li.selected a {
    color: #00ABCE;
}

#sites em {
    color: #000;
    font-weight: bold;
}

button#add {
    display: none;
    background-color: #00ABCE;
    color: #fff;
    padding: 10px 10px;
    margin: 10px auto;
}
